[Unit]
Description=Terraform Provisioned MC Server
After=network.target

[Service]
WorkingDirectory=/mnt/minecraft
ExecStart=/mnt/minecraft/start.sh
TimeoutStopSec=60
User=minecraft
Group=minecraft
Restart=always

[Install]
WantedBy=multi-user.target
